@tailwind base;
@tailwind components;
@tailwind utilities;


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}

tr td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

tr td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navbar-link {
  @apply cursor-pointer font-medium text-black underline-offset-4 hover:underline;
}
